.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EA2027;;
}

.buttonDiv{
    margin-bottom: 15px;
    width: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #1B9CFC;
    box-shadow: 2px 2px 2px 2px #57606f;
    border-radius: 5px;
}

.buttonBack{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.buttonDiv:hover{
    background-color: green;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.invalidFeedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.checkBoxTitle{
    margin-top: 25px;
    font-size: 20px;
}

.checkBoxDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

button[type="submit"] {
    background-color: #1B9CFC;
    color: #fff;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}