.paginado {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.paginado li {
    margin: 0 0.5rem;
}

.paginado a {
    color: #353b48;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-decoration: solid;
    transition: all 0.3s ease;
}

.paginado a:hover {
    background-color: #fbc531;
    color: #fff;
}

.currentPage {
    background-color: #f9ca24;
    font-weight: bold;
    border-radius: 3px;
}